@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-bg-image {
    background-image: url("/bg2.jpeg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
